
.grid {
    margin: 0 auto;
    width: 80vw;
    max-width: 70vh;
    height: 80vw;
    max-height: 70vh;
    font-size: 1rem;
    border-color: black;
    border: solid;
}

.row {
    display: flex;
}

.box {
    background: white;
    flex: 1 0 auto;
    position: relative;
    border: solid;
    border-color: black;
    border-width: thin;
}

.box:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;
}

.box .inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 111px;
    height: 111px;
    font-size: 2em;
    font-weight: bold;
    margin: 11px;
            
}

p{
    text-align: center;
    
}

#colorBtn {
    background: url('bgridc.png');  
    
}

#newBtn {
    background: url('bgrid.png');    
}

html {
    background: url('back.png');
    background-size: cover;
}
